<div>
  <form [formGroup]="employeefrm"  novalidate>
    <div>
      <label for="first-name">First Name</label>
      <input type="text" id="first-name" formControlName="empFirstName">
    </div>
    <div>
      <label for="last-name">Last Name</label>
      <input type="text" id="last-name" formControlName="empLastName">
    </div>
    <div>
      <label for="department">Department</label>
      <input type="text" id="department" formControlName="empDeptName">
    </div>
    <div>
      <button type="button" (click)="submitForm()"> Submit </button>

    </div>
  </form>

</div>